/* styles.css */
body {
	font-family: Arial, sans-serif;
	margin: 0; /* Remove default margin */
}

.header {
	background-color: #3498db;
	color: white;
	padding: 10px;
	text-align: center;
}

.container {
	display: flex;
	padding: 20px;
}

.search-container {
	margin-right: 20px;
}

#cityInput {
	padding: 5px;
}


button {
	padding: 5px 10px;
	background-color: #3498db;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #2980b9;
}

.results-container {
	flex: 1; /* Take up available space */
	max-width: 800px; /* Set the maximum width of the results container as needed */
	margin-left: 20px; /* Add margin for spacing */
}

.current-weather {
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}

.forecast-container {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 20px;
}

.forecast-card {
 flex: 1 1 auto; /* Allow cards to grow and shrink */
    max-width: 200px; /* Set a maximum width for each card */
    margin-right: 10px; /* Add some margin between cards */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
				background-color: #010137e9;
				color: white;
				font-size: 10px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
	.container {
					flex-direction: column;
	}

	.search-container {
					margin-right: 0;
	}

	.forecast-card {
					flex: 0 1 calc(50% - 20px); /* Adjust for two cards per row on smaller screens */
	}
}

.city-button-row {
	margin-bottom: 10px; /* Adjust the margin as needed */
}

#cityButtons button {
	display: flex;
	margin: 20px; /* Adjust the margin as needed */
}
